@import url("../../global/ColorPalette.css");

.forgetpassword-container * {
  /* border: 1px solid red; */
}
.forgetpassword-container {
  position: fixed;
  width: 40%;
  min-width: 500px;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  border-radius: 1rem;
  background-color: var(--lightItem);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.forgetpassword-form {
  padding: 1rem;
  background-color: var(--lightItem);
}

.forgetpassword-container h1 {
  color: var(--item);
  margin-bottom: 2rem;
}

.forgetpassword-container input[type="text"] {
  padding: 0.5rem;
  min-width: 200px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--item);
  background-color: var(--light);
}

.forgetpassword-container button {
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--item);
  color: var(--lightItem);
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid var(--item);
}

.forgetpassword-container .user-input {
  margin-top: 8px;
}

.cm-noti p {
  color: var(--item2);
  font-weight: 600;
  font-size: 1.2rem;
}
