:root {
  --light: #f5faff;
  --lightActive: #e8f1fa;
  --lightItem: #ffffff;

  --dark: #15131d;
  --darkItem: #2d2b3c;
  --darkItem2: #1c1a26;

  --item: #fe7062;
  --itemActive: #f44545;
  --item2: #565fec;
  --item2Active: #17aaff;
  --item3: #3e3f75;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as per your requirements */
}

/* To remove the background */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* To style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(
    --item
  ); /* Set the color you want for the scrollbar thumb */
  border-radius: 5px;
}

/* To style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Set the color you want for the scrollbar thumb on hover */
}
