:root {
  --light: #f5faff;
  --lightActive: #f8f8f8;
  --lightItem: #ffffff;
  --lightItem--t: #ffffffeb;

  --dark: #15131d;
  --darkItem: #2d2b3c;
  --darkItem2: #1c1a26;
  --darkItem3: #ececec;
  --darkItem4: #aba9a9;
  --darkItem5: #3a5a62;

  --item--low: #ffdcd9;
  --item: #fe7062;
  --itemActive: #f44545;
  --item2: #565fec;
  --item2Active: #17aaff;
  --item3: #3e3f75;

  --grd1: #ffe3e0;
  --grd2: #7fbaff;

  --primary: #8a85ea;

  --purple1: #e4dffa;
  --purple2: #aaa2f0;
  --purple3: #8a85ea;
}

.dark-theme {
  --dark: #15131d;
  --darkItem: #2d2b3c;
  --darkItem2: #1c1a26;
  --darkItem3: #ececec;
  --darkItem4: #cbcbcb4f;
}
