::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* sb Y */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* sb X */
::-webkit-scrollbar-thumb {
  background-color: var(--item);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--itemActive);
}

body {
  background-color: var(--light);
}

* {
  transition: 0.3s all ease;
  /* border: 1px solid red; */
}
