.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
@import url("../../global//ColorPalette.css");
.user-pf-content {
  margin: 8rem 2rem 1rem 2rem;
  height: max-content;
}

.upf-table {
  margin: auto;
  background-color: var(--lightItem);
  padding: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.upf-table tr:hover {
  background-color: var(--light);
}
.upf-table tr:hover span {
  color: var(--item2);
}

.upf-table tr:nth-child(1) {
  color: var(--item);
}

.upf-table span {
  color: var(--item);
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.upf-table td {
  padding: 0 1rem;
}
