@import url(../../global/ColorPalette.css);

.NavBar {
  position: fixed;
  /* left: calc(calc(100vw - calc(90vw - (100vw - 100%))) / 2); */
  left: 50vw;
  transform: translateX(-50%);
  /* width: calc(70vw - (100vw - 100%)); */
  width: calc(90vw - (100vw - 100%));
  max-width: 2000px;
  border: 2px solid var(--light);
  border-radius: 20px;
  top: 1rem;
  background-color: var(--light);
  z-index: 100;
  transition: 0.5s all ease;
  /* overflow: hidden; */
}

.NavBar.active {
  width: calc(70vw - (100vw - 100%));
  /* left: calc(calc(100vw - calc(70vw - (100vw - 100%))) / 2); */
  left: 50vw;
  top: 0.1rem;
  background-color: var(--lightItem);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.105) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s all ease;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
  /* border: 1px solid red; */
}

.brand img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 4px 4px;
  margin: auto;
  display: block;
}

:where(.nav-menu, .NavBar, .logo) {
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}

.logo {
  margin: auto 1rem auto 0rem;
  font-size: 1.8rem !important;
}

.logo span {
  color: var(--item2);
}

.NavBar a {
  color: var(--darkItem2);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-menu {
  margin: auto 1rem auto auto;
  list-style: none;
}
.nav-item {
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  margin: 0 0.5rem;
  transition: 0.5s all ease;
  /* border: 1px solid red; */
}
.nav-item:hover {
  border-radius: 8px;
  /* background-color: #b8b8b8; */
  background-color: var(--lightItem);
  padding: 4px 8px;
  text-align: center;
  margin: 0 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.105) 0px 6px 6px;

  transition: 0.5s all ease;
}

.NavBar.active .nav-item:hover {
  border-radius: 8px;
  background-color: var(--light);
  padding: 4px 8px;
  text-align: center;
  margin: 0 0.5rem;
  transition: 0.5s all ease;
}

.navToggle {
  margin: auto 0px auto auto;
  display: none;
}

.navToggle button {
  background: var(--light);
  border-radius: 1rem;
  border: none;
  text-align: center;
  margin-right: 1rem;
  color: var(--item3);
}
.navToggle ion-icon {
  font-size: 2.5rem;
  transform: translateY(5%);
  text-align: center;
}

.NavBar,
.NavBar *,
.SettingBar * {
  border: 1px solid rebeccapurple;
}

.SettingBar {
  position: fixed;
  top: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: flex-end;
}

.pf-dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.avatar img {
  width: 100%;
  display: block;
  margin: auto;
}

@media (max-width: 991px) {
  .nav-menu {
    position: absolute;
    right: 0;
    height: 0;
    overflow: hidden;
    top: 3.5rem;
    background-color: var(--lightItem);
    flex-direction: column;
    justify-items: center;
    /* width: 50vw; */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px,
      rgba(0, 0, 0, 0.105) 0px 6px 6px;
    transition: 0.2s all ease;
  }
  .nav-menu.active {
    height: auto;
    padding: 2rem;
    transition: 0.5s all ease;
  }
  .nav-item a {
    color: var(--item3);
  }
  .NavBar.active .nav-item:hover {
    background-color: var(--light);
  }
  .banner-1 div:nth-child(2) {
    order: 1;
  }
  .navToggle {
    display: block;
  }
}
