@import url(../../global/ColorPalette.css);

.NavBar {
  position: fixed;
  top: 1rem;
  left: 50vw;
  transform: translateX(-50%);
  width: calc(98vw - (100vw - 100%));
  border: 4px solid var(--light);
  border-radius: 2rem;
  background-color: var(--light);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.NavBar.show {
  width: calc(80vw - (100vw - 100%));
  left: 50vw;
  top: 0.3rem;
  background-color: var(--lightItem);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.NavBar .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
}
.brand img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 4px 4px;
  margin: auto;
  display: block;
}

:where(.nav-menu, .NavBar, .logo, .nav-item, .route-nav) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin: auto 1rem auto 0rem;
  font-size: 1.8rem !important;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: var(--dark);
}

.logo span {
  color: var(--item2);
  font-family: "Oswald", sans-serif;
}

:where(.NavBar p, .NavBar a) {
  color: var(--darkItem2);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-menu {
  margin: auto 2rem auto auto;
  list-style: none;
}

.nav-item {
  text-align: center;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  white-space: nowrap;
}

.nav-item .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  padding: 0 1rem;
}

.nav-item img {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  border-radius: 50%;
  border: 4px solid var(--darkItem3);
  flex-shrink: 0;
}

.nav-item ion-icon {
  transform: translateY(15%);
  font-size: 1.2rem;
}

.nav-item a {
  padding: 4px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}
.nav-menu .nav-item a:hover:not(.active) {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.105) 0px 6px 6px;
  transform: translateY(-5%);
}

.nav-menu .nav-item a.active {
  color: var(--item2);
}

.nav-menu .nav-item a.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--item2);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0.2;
}

.nav-menu .NavBar.active .nav-item:hover:not(.active) {
  border-radius: 8px;
  background-color: var(--light);
  padding: 4px 8px;
  text-align: center;
  margin: 0 0.5rem;
}

.navToggle {
  margin: auto 0px auto auto;
  display: none;
}

.navToggle button {
  background: var(--light);
  border-radius: 1rem;
  border: none;
  text-align: center;
  margin-right: 1rem;
  color: var(--item3);
}
.navToggle ion-icon {
  font-size: 2.5rem;
  transform: translateY(5%);
  text-align: center;
}

.SettingBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-right: 8px;
}

.pf-dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--lightItem);
  box-sizing: border-box;
  border: 3px solid var(--lightItem);
  cursor: pointer;
}
.pf-dropdown:hover {
  border: 3px solid var(--darkItem3);
}

.pf-dropdown.active {
  border: 4px solid var(--darkItem4);
}

.avatar img {
  width: 100%;
  display: block;
  margin: auto;
}

.Setting-Bar {
  height: 0px;
  /* width: 0px; */
  position: fixed;
  top: 0;
  transform: translate(-40%, 4rem);
  display: flex;
  flex-direction: column;
  /* background-color: var(--lightItem); */
  background-color: var(--lightItem--t);
  border-radius: 1rem;
  align-items: center;
  overflow: hidden;
}

.Setting-Bar .nav-item {
  border-radius: 1rem;
}

.pf-dropdown.active ~ .Setting-Bar {
  height: auto;
  width: auto;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
  border: 4px solid var(--light);
  padding: 1rem;
}

.Setting-Bar ul {
  padding: 0;
}
.Setting-Bar li {
  padding: 0.4rem 1rem;
  margin: 8px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--light);
}
.Setting-Bar li:nth-child(1) {
  background-color: var(--light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Setting-Bar li:hover {
  background-color: var(--light);
  border: 1px solid var(--item2Active);
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.themeSwitch {
  position: relative;
  width: 100px;
  /* padding-top: 1rem; */
  /* border: 1px solid blueviolet; */
  /* background-color: none; */
}

.nav-item input:checked {
  --light: var(--dark);
  --dark: var(--lightItem);
}

.nav-item label {
  position: absolute;
  width: 72px;
  height: 36px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  /* border: 1px solid blueviolet; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav-item input {
  position: absolute;
  display: none;
}

.nav-item .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transform: translateX(-50%);
  opacity: 5;
}

.nav-item input:checked ~ .slider {
  background-color: var(--lightItem);
}

.nav-item .slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 8px -5px 0px 1px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.nav-item input:checked ~ .slider::before {
  transform: translateX(36px);
  background-color: var(--dark);
  box-shadow: none;
}

.login-uti-text p {
  color: var(--dark);
  text-align: right;
  margin-right: 1rem;
  font-weight: 400 !important;
}

.login-uti-text a {
  color: var(--item2Active);
  text-align: right;
}

/* notification */
.noti-container {
  /* background-color: aqua; */

  position: relative;
  margin: 0 8px;
}

.noti-toggle {
  background-color: transparent;
  padding: 0 !important;
  border: 2px solid transparent;
  border-radius: 50%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.noti-toggle:hover {
  background-color: var(--lightItem);
  border: 2px solid var(--darkItem3);
}

.noti-toggle img {
  width: 100%;
  cursor: pointer;
}

.noti-list {
  background-color: var(--lightItem);
  position: absolute;
  min-width: 400px;
  max-width: 650px;
  height: 0;

  width: 0;
  height: 0;
  padding: 0;

  top: calc(48px + 1rem);
  transform: translateX(calc(-100% + 5rem));

  border: none;
  border-radius: 1rem;

  overflow-y: scroll;
  opacity: 0.9;
}

.noti-list ul li Navlink {
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
}
.noti-list ul li:hover {
  background-color: var(--darkItem3);
  border-radius: 8px;
}
.notification-item-left {
  width: 95%;
}
.notification-item {
  display: flex;
  flex-direction: row;
}
.new-note-mark {
  /* width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); */
  /* background-color: red; */
  display: flex;
  width: 5%;
  align-items: center;
  justify-content: center;
}
.notification-mark {
  background-color: blue;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.noti-list ul li span {
  font-size: 1rem;
  display: block;
}
.noti-list ul li span:nth-child(2) {
  color: var(--item2);
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.noti-list.active {
  height: 80svh;
  padding: 1rem;
  border: 4px solid var(--light);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.noti-list span {
  font-size: 2rem;
  font-weight: 600;
}

.noti-list li {
}

.viewMark {
  width: 10px;
  height: 10px;
  background-color: var(--item);
  border-radius: 50%;
  border: 1px solid var(--lightItem) !important;

  position: absolute;
  top: 20%;
  right: 25%;
  display: block;
}

.viewMark.view {
  display: none;
}

@media (max-width: 991px) {
  .nav-menu {
    position: absolute;
    right: 0;
    height: 0;
    overflow: hidden;
    top: 3.5rem;
    background-color: var(--lightItem);
    flex-direction: column;
    justify-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px,
      rgba(0, 0, 0, 0.105) 0px 6px 6px;
  }
  .SettingBar {
    /* display: none; */
  }

  .nav-menu.active {
    height: auto;
    padding: 2rem;
    margin: auto 1rem auto auto;
  }
  .nav-item a {
    color: var(--item3);
  }
  .NavBar.active .nav-item:hover:not(.active) {
    background-color: var(--light);
  }
  .navToggle {
    display: block;
  }
}
