@import url("../../global/ColorPalette.css");

.home-page {
  /* background-color: var(--item2); */
}

.home-page * {
  border: 1px solid red;
}

.form-CC {
  background-color: var(--item3) !important;
}

.form-control-flex {
  display: flex;
}

.select-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.select {
  background-color: var(--item2) !important;
  color: turquoise;
}
