@import url("../../global/ColorPalette.css");

.home-page {
  margin-top: 7rem;
}

/* .filter-container * {
  border: 1px solid red;
}

.home-page * {
  border: 1px solid red;
}

.cate-filter * {
  border: 1px solid red;
}  */

/* ====================region filter==================== */

.filter-container {
  background-color: var(--lightItem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  /* padding: 1rem 1rem 0 1rem; */
  padding: 1rem;
  width: fit-content;
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-1 {
  display: flex;
  flex-direction: row;
}

.filter-container input {
  height: min-content;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  /* border: none; */
  border: 2px solid var(--light);
  margin: auto 0;
}

.filter-container input::placeholder {
  color: var(--item);
}

.filter-container button {
  background-color: var(--item);
  border: none;
  border-radius: 8px;
  height: min-content;
  width: min-content;
  padding: 1px 2px;
  margin: auto;
  margin-left: 8px;
}
.textBttn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBttn button {
  color: var(--light);
  margin: auto 4px;
  font-size: 1.05rem;
  padding: 6px 0.4rem;
}

.filter-container ion-icon {
  color: var(--lightItem);
  transform: translateY(6%);
  font-size: 1.5rem;
}

.filter-container button:hover ion-icon {
  color: var(--lightItem);
  font-weight: bold;
  background-color: var(--item2);
}
.filter-container button:hover {
  background-color: var(--item2);
}
.filter-container select {
  color: var(--item2);
  font-weight: bold;
  border: 2px solid var(--item2);
  border-radius: 8px;
  transition: 0.3s all ease;
}

.cate-filter-head {
  display: flex;
  width: 100%;
  /* background-color: aqua; */
  /* width: fit-content; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* background-color: red; */
  /* padding-right: 1rem; */
}

.cate-filter-head button {
  background-color: var(--item);
  border: none;
  border-radius: 8px;
  height: min-content;
  width: min-content;
  padding: 1px 2px;
  margin: auto 0.6rem auto 0;
}
.cate-filter-head button:hover {
  background-color: var(--item2);
}
.cate-filter-head ion-icon {
  color: var(--lightItem);
  transform: translateY(6%);
  font-size: 1.5rem;
}

.cate-filter {
  padding: 0 1rem 0 1rem;
}

.findByCate button {
  margin-left: 0.5rem;
  background-color: var(--item);
  border-radius: 1rem;
  border: 2px solid var(--light);
  padding: 4px 1rem;
  color: var(--lightItem);
  font-weight: bold;
  transition: 0.2s all ease;
}

.findByCate button:hover {
  transform: translateY(-5%);
  transition: 0.3s all ease;
  border: 2px solid var(--item2Active);
  background-color: var(--item2);
}
.select-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  white-space: nowrap;
  background-color: var(--lightItem);
  border-radius: 1rem;
  margin: -1rem auto auto 1rem;
  width: 0px;
  max-width: 1000px;
  height: 0px;
  transition: 0.2s all ease;
  overflow: hidden;
  padding: 0;
  box-shadow: none;
}

.select-list.active {
  margin: 1rem auto auto 1rem;
  width: auto;
  height: auto;
  transition: 0.3s all ease;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.select {
  font-size: 0;
  height: 0px;
  transition: 0.3s all ease;
  display: flex;
  justify-content: flex-start;
}

.select-list.active .select {
  font-size: 1rem;
  height: 25px;
  transition: 0.3s all ease;
}

.select label {
  margin-left: 5px;
}

.Pagination-Container {
  display: flex;
  margin: 1rem auto 1rem auto;
  /* border: 1px solid red; */
  justify-content: center;
  justify-items: center;
}

/* ====================region List of Course==================== */
.list-Courses {
  /* border: 2px solid red; */
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  /* grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr); */
  gap: 1rem;
}

.course * {
  /* border: 1px solid red; */
}

.course {
  /* width: 80vw; */
  background-color: var(--lightItem);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.2s all ease;
  /* padding: 1rem; */
  cursor: pointer;
  overflow: hidden;
}

.course:hover {
  transform: translateY(-10%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s all ease;
}

/* Course name */
.course span:nth-child(1) {
  color: var(--item);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--light);
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

:where(.course span:nth-child(2), .course span:nth-child(3)) {
  margin-top: 10px;
  text-align: center;
}

/* Date */
.course span:nth-child(2) {
  color: var(--item3);
}
/* Mentor */
.course span:nth-child(3) {
  color: var(--item3);

  font-size: 1.2em;
}
.course span:nth-child(4) {
  background-color: var(--item);
  color: var(--lightItem);
  padding: 4px 1rem;
  border-radius: 8px;
  margin: 8px 1rem 1rem auto;
}

/* ================================================================ */

div.container.home-page {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  /* Other CSS properties */
}

div.container.home-page * {
  /* border: 1px solid blue; */
}

.Pagination-Container {
  /* margin-top: auto;
  margin-bottom: 1rem; */
  margin: 2rem auto;
}
