@import url("../../global/ColorPalette.css");

.home-page {
  margin-top: 7rem;
}

.course-banner {
  width: 100%;
  height: 200px;
  background-color: aqua;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}
.course-banner h1 {
  text-align: center;
  font-size: 3rem;
}

.filter-container {
  background-color: var(--lightItem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 4px solid var(--light);

  /* position: sticky;
  top: 5rem;
  z-index: 1000; */
}

.filter-1 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  justify-content: flex-start;
  /* padding-left: 2rem; */
}

.search-border {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--lightItem);
  /* border: 3px solid var(--darkItem5); */
  border: 3px solid none;
  border-radius: 1.8rem;
  overflow: hidden;

  margin: 0 1rem 0 -1rem;
}

.filter-container input {
  min-width: 250px;
  width: 100%;
  border: none;
  height: 100%;
  /* width: max-content; */
  background-color: transparent;
  padding: 0.8rem;
  /* background-color: antiquewhite; */
  /* padding-left: 0.5rem; */
  font-size: 1.2rem;
}

.filter-container input:focus {
  outline: none;
}

.filter-container input::placeholder {
  color: var(--darkItem5);
  font-weight: 600;
  font-size: 1.2rem;
  align-items: center;
}

.filter-container button {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  height: min-content;
  width: min-content;
  padding: 4px 1rem;
  margin: auto;
  margin-left: 8px;
}

#textBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#textBttn img {
  /* width: 24px; */
  height: 24px;
}

#textBttn button {
  height: 100%;
  width: 52px;
  color: var(--darkItem5);
  background-color: transparent;
  /* margin: auto 4px auto 8px; */
  font-size: 1.05rem;
  padding: 6px 0.4rem;
  border: 4px solid var(--lightItem);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#textBttn button:hover {
  border: 4px solid var(--darkItem3);
  background-color: var(--itemActive);
}
#textBttn button:hover img {
  filter: invert(100%);
}

.filter-container ion-icon {
  color: var(--darkItem5);
  /* transform: translateY(9%); */
  font-size: 2rem;
  margin: 4px;
  margin-left: 0;
  /* font: ; */
  cursor: pointer;
}

.filter-container ion-icon:hover {
  color: var(--grd2);
}

.filter-container button:hover ion-icon {
  color: var(--lightItem);
  font-weight: bold;
  background-color: var(--item2);
  transition: 0.3s all ease;
}
.filter-container button:hover {
  background-color: var(--item2);
  transition: 0.3s all ease;
}
.filter-container select {
  width: 10%;
  color: var(--darkItem5);
  font-weight: 600;
  font-size: 1.2rem;
  /* border: 3.5px solid var(--primary); */
  /* border: 3px solid var(--darkItem5); */
  border: none;
  border-radius: 12px;
  transition: 0.3s all ease;
  /* margin: 0 1rem; */
  flex-shrink: 0;
  margin-right: 3rem;

  cursor: pointer;
  background-color: var(--lightItem);
}

.filter-container select:focus {
  outline: none;
}

.courses-list-main {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.cate-filter {
  width: 25%;
  height: fit-content;
  border-radius: 1rem;
  background-color: var(--lightItem);
  box-shadow: rgba(0, 0, 0, 0.15) -1px 2px 1px,
    rgba(0, 0, 0, 0.15) 0px 1.05px 1px;
  border: 4px solid var(--light);

  position: sticky;
  top: 5rem;
}
.cate-filter h2 {
  margin-left: 0.5rem;
}

.courses-section {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 75%;
  min-height: 80svh;
}

.findByCate button {
  /* margin-left: 0.5rem; */
  margin: 1rem;
  background-color: var(--primary);
  border-radius: 1rem;
  border: 2px solid var(--light);
  padding: 4px 2rem;
  color: var(--lightItem);
  font-weight: bold;
  font-size: 1.2rem;

  cursor: pointer;
}

.findByCate button:hover {
  transition: 0.3s all ease;
  border: 2px solid var(--item2Active);
  background-color: var(--item2);
}
.select-list {
  height: fit-content;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 1rem 0;
  overflow: hidden;
}

.select-list .select {
  font-size: 1rem;
  /* height: 25px; */
  padding: 2px 0;
}

.select label {
  margin-left: 5px;
  font-size: 1.2rem;
  padding: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.select label:hover {
  background-color: var(--light);
}

.Pagination-Container {
  display: flex;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  justify-items: center;
}
.select-list h2 {
  margin: 8px;
}

/* ====================region List of Course==================== */
.list-Courses {
  display: grid;
  padding: 1rem 0.5rem;
  margin-left: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
}

.course {
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(1, 1fr);
  cursor: pointer;
}

.couse-card-view {
  background-color: var(--lightItem);
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  min-height: 200px;
  border: none;
  /* border: 4px solid var(--light); */
  /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.couse-card-view:hover {
  transform: translate(0, -2%);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 3.95px 5.95px 2.6px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.15) 3.95px 5.95px 2.6px;
}

.couse-card-view img {
}

.couse-card-view span {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--darkItem5);
  padding: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* .course:nth-child(1) .couse-card-view span,
.course:nth-child(2) .couse-card-view span,
.course:nth-child(3) .couse-card-view span,
.course:nth-child(5) .couse-card-view span,
.course:nth-child(6) .couse-card-view span,
.course:nth-child(7) .couse-card-view span,
.course:nth-child(8) .couse-card-view span,
.course:nth-child(9) .couse-card-view span,
.course:nth-child(10) .couse-card-view span,
.course:nth-child(11) .couse-card-view span {
  color: var(--darkItem5);
}
.course:nth-child(4) .couse-card-view span {
  color: var(--darkItem3);
} */

.couse-card-view span {
  display: block;
  text-align: center;
}

.course-desc span {
  display: block;
  padding: 8px;
  color: var(--darkItem4);
  font-weight: 600;
}

@media (max-width: 1200px) {
  .courses-list-main {
    flex-direction: column;
  }

  .list-Courses {
    display: grid;
    padding: 1rem 0.5rem;
    margin-left: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
  }

  .cate-filter {
    width: 100%;
  }
  .select-list {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .select {
    margin-left: 1.5rem;
  }

  .courses-section {
    width: 100%;
    margin-top: 1rem;
  }
  .filter-container {
    margin: 0;
  }

  .list-Courses {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .list-Courses {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .select-list {
  }
  .select {
    margin: 0;
    padding: 0;
  }

  .select label {
    font-size: 0.9rem;
  }

  .list-Courses {
    grid-template-columns: 1fr;
  }
}
