@import url(../../global/ColorPalette.css);
.Chat-container {
  width: calc(100% - calc(100vw - 100%));
  height: calc(85svh);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Conversation-List {
  width: 25%;
  height: 100%;
  margin: 8px;
  border-radius: 1rem;
  /* padding: 1rem; */
  border: 4px solid var(--light);
  background-color: var(--lightItem);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.seach-chat {
  width: 100%;
  height: 60px;
  background-color: var(--light);

  border-radius: 8px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--darkItem3);
  /* background-color: red; */
}

/* *{
  border: 1px solid red !important;
} */

.seach-chat ion-icon {
  font-size: 2rem;
  color: var(--item);
  background-color: var(--lightItem);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 8px;
}
.seach-chat button {
  background-color: var(--lightItem);
  border: none;
  border-radius: 8px;
  /* margin-left: 1rem; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid var(--item);
}

.seach-chat input {
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  border: none;
  width: 100%;
  margin: 8px;
  /* max-width: 50%; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

.seach-chat input:focus {
  outline: 2px solid var(--item2);
}

.lst-conv {
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 2rem);
}

.conv-name {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Conversation-List ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Conversation-List ul img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.Conversation-List a {
  padding: 8px 1rem;
  margin: 4px;
  width: 80%;

  background-color: var(--light);
  border-radius: 20px;
  color: var(--darkItem);

  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}

.Conversation-List a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid var(--darkItem3);
  transition: 0s ease !important;
}

.Conversation-List a span {
  margin-left: 8px;
}

.Conversation-List a:hover:not(.active) {
  transform: translateY(-5%);
  border: 2px solid var(--item2);
}

.Conversation-List a:hover:not(.active) {
  transform: translateY(-5%);
  border: 2px solid var(--item2);
}

.Conversation-List a.active {
  width: 90%;
  color: var(--lightItem);
  background-color: var(--item);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 0s ease !important;
}

.Conversation-List a.active .conv-name {
  display: contents;
  white-space: normal;
  transition: 0s ease !important;
}

.Message-List {
  height: 100%;
  width: 70%;
  grid-column: 3;
  background-color: aquamarine;
  /* padding: 1rem; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 4px solid var(--light);
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

.conversation-head {
  width: 100%;
  height: 60px;
  background-color: var(--lightItem);
  box-shadow: rgba(71, 71, 71, 0.02) 0px 1px 3px 0px,
    rgba(159, 159, 159, 0.15) 0px 0px 0px 1px;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.conversation-head img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--item);
  margin-left: 1rem;
}

.conversation-head span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--item);
  margin: 0.5rem;
}

.messages {
  width: 100%;
  height: calc(100% - 60px - 60px);
  /* background-color: blueviolet; */
  background-color: var(--lightItem);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.input-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  background-color: var(--lightItem);
  height: 60px;
  /* border-top: 2px solid #a1a1a155; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.input-message input {
  width: 80%;
  height: 32px;
  border-radius: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  background-color: var(--light);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  /* background-color: red; */
}

.input-message input:focus {
  outline: 1px solid var(--item2);
}

.input-message ion-icon {
  font-size: 1.5rem;
  transform: translateY(10%);
  color: var(--item);
}
.input-message button {
  background: transparent;
  border: none;
}

.Chat-container input:focus,
.Chat-container input:valid {
  /* border: 2px solid var(--item); */
  color: var(--item);
  font-size: 1.1rem;
}

.Chat-container input::placeholder {
  color: var(--item);
}

.message {
  /* padding: 1rem; */
  margin: 1rem;
}
.messages li {
  list-style: none;
}

.message .avatar {
  display: flex;
  flex-direction: row;
}

.message-to {
  display: flex;
  flex-direction: row;
}

.message-to .avatar {
  /* background-color: blueviolet; */
}
.message-from .avatar {
  /* background-color: palevioletred; */
  /* align-items: center; */
}
.message-to .avatar {
  /* background-color: palevioletred; */
  align-items: end;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.message .avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* margin: auto auto 0 auto; */
}
.message-to .avatar img {
  margin: 0 auto 0 0;
}
.message-from .avatar img {
  margin: 0 0 0 auto;
}

.msg-text {
  width: fit-content;
  max-width: 80%;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 4px solid var(--lightItem);
}

.display-name-msg-to span {
  background-color: var(--lightItem);
  padding: 0px 4px;
  border-radius: 8px;
  border: 3px solid var(--light);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 0.8rem;
}

.message-to .msg-text {
  background-color: var(--light);
  /* margin: 4px auto 4px 0; */
}
.message-to .msg-text span {
  /* background-color: var(--lightItem); */
  /* background-color: red; */
  margin: 0 auto 0 0;
  /* margin: 4px auto 4px 0; */
}

.message-from .msg-text {
  background-color: var(--item);
  color: var(--lightItem);
  margin: 0 0 0 auto;
  /* margin: 4px 0 4px auto; */
}

.msg-text-c {
  margin: 0.5rem;
}
