:root {
  --light: #f5faff;
  --lightActive: #e8f1fa;
  --lightItem: #ffffff;

  --dark: #15131d;
  --darkItem: #2d2b3c;
  --darkItem2: #1c1a26;

  --item: #fe7062;
  --itemActive: #f75f51;
  --item2: #565fec;
}
