@import url("./ColorPalette.css");

.login-frag {
  width: 80%;
  height: 80vh;
  /* background-color: var(--light); */
  margin: 0px auto;
  /* border-radius: 1rem; */
  /* border: 3px solid var(--item); */
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.login-frag * {
  border: 1px solid black;
}

.login-bg {
  width: 50%;
}

.login-bg img {
  width: 100%;
  /* opacity: 0.2; */
  margin: auto;
  display: block;
}

.login-form {
  border: 2px solid red;
  width: 50%;
  margin: auto 0px auto auto;
  padding: 2rem 4rem;
}
