@import url("../../global/ColorPalette.css");

:where(.fragment-nav-bar, .main-content) {
  margin-top: 4rem;
}

.body-wraper {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  display: flex;
  flex-direction: row;
}

.body-wraper * {
  box-sizing: border-box;
}

.fragment-nav-bar {
  width: 20%;
  height: calc(100svh - 5rem);
  /* background-color: blue; */
}

.ad-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ad-nav-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 1rem;
  width: 100%;
  cursor: pointer;
}

.ad-nav-list li {
  width: 100%;
  list-style: none;
  text-decoration: none;
  padding: 0.4rem 1rem;
  text-align: center;
  margin: 8px 0;
  border-radius: 1rem;
}
.ad-nav-list li:hover {
  background-color: var(--lightItem);
}

.main-content {
  width: 75%;
  border-radius: 1rem;
  width: 80%;
  height: calc(100svh - 5rem);
  background-color: var(--light);
  overflow-y: scroll;
  background-color: var(--lightItem);
  margin-right: 4rem;
}
