@import url("../../global/ColorPalette.css");

.reset-pw-container {
  background-color: var(--lightItem);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2rem;
  width: 600px;

  border: 4px solid var(--light);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.reset-pw-container .user-input {
  position: relative;
  margin: 1.1rem 0;
}

.reset-pw-container .title h1 {
  color: var(--item);
  padding-bottom: 1rem;
  text-align: center;
}

.reset-pw-container .user-input input {
  width: calc(100%);
  background-color: var(--light);
  opacity: 0.5;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 8px;
  color: var(--dark);
  font-size: 1.2em;
  border: 2px solid var(--item);
  outline: none;
}

.chgpwd-container .user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ span,
.chgpwd-container .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ input,
.chgpwd-container .user-input input:focus ~ input {
  border: 2px solid var(--light);
}
.user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ span,
.chgpwd-container .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ input,
.chgpwd-container .user-input input:focus ~ input {
  border: 2px solid var(--light);
}
.user-input input:valid ~ span,
.chgpwd-container .user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ span,
.chgpwd-container .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ input,
.chgpwd-container .user-input input:focus ~ input {
  border: 2px solid var(--light);
}
.user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ span,
.chgpwd-container .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ input,
.chgpwd-container .user-input input:focus ~ input {
  border: 2px solid var(--light);
}
.user-input input:valid ~ input,
.chgpwd-container .user-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  text-transform: uppercase;
  color: var(--item);
  transition: 0.3s all ease;
  pointer-events: none;
  padding: 0 4px !important;
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ span,
.chgpwd-container .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  /* font-weight: bold; */
  font-size: 0.8rem;
  padding: 0 10px;
  /* color: var(--lightItem); */
  /* background-color: var(--item); */
  border-left: 2px solid var(--item);
  border-right: 2px solid var(--item);
  border-radius: 4px;
  background-color: var(--light);
  transition: 0.3s all ease;
}

.chgpwd-container .user-input input:valid ~ input,
.chgpwd-container .user-input input:focus ~ input {
  border: 2px solid var(--light);
}
.user-input input:focus ~ input {
  border: 2px solid var(--light);
}

.reset-pw-container button {
  padding: 0.5rem 1rem;
  margin: auto;
  display: block;
  width: 60%;
  border: 3px solid var(--item2);
  border-radius: 1rem;
  background-color: var(--lightItem);

  margin-top: 2rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--item2);
}

.reset-pw-container button:hover {
  color: var(--lightItem);
  border: 3px solid var(--item2Active);
  background-color: var(--item2);
}
