@import url("../../global/ColorPalette.css");
.mentor-statistic-container {
  display: flex;
  flex-direction: row;
  height: 100svh;
  box-sizing: border-box;
  position: relative;
}

.mentor-menu-sideBar {
  position: relative;
  top: 25%;
  height: min-content;
  padding: 0;
  margin: 0;
}

.mentor-menu-sideBar ul {
  overflow-y: scroll;
}

.mentor-manageNav img {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
}

.mentor-manageNav {
  /* background-color: red; */
  padding: 0 !important;
}

.mentor-manageNav li {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  background-color: var(--lightItem);
  margin: 1rem 0 1rem 8px;
  padding: 8px 2px 8px 8px;
  border-right: 2px solid var(--lightItem);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mentor-manageNav span {
  position: absolute;
  background-color: var(--lightItem);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem;
  left: 0rem;
  opacity: 0;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

.mentor-manageNav li:hover {
  background-color: var(--item2);
}

.mentor-manageNav li:hover span {
  background-color: var(--item2);
  left: 3.75rem;
  opacity: 1;
}

.overAll-statistic-container {
  position: relative;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 100px;
  width: calc(94svw - 300px);
  background-color: var(--lightItem);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}

.overAll-stat {
  padding: 1rem;
  height: 40%;
  width: 100%;
  display: flex;
}

.stat-item {
  width: calc(100% / 3);
  border: 1px solid var(--darkItem3);
  box-sizing: border-box;
  margin: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--darkItem5);
}

.stat-item span:nth-child(1) {
  font-weight: 600;
  font-size: 1.2rem;
}
.stat-item span:nth-child(2) {
  font-weight: 800;
  font-size: 2.2rem;
}

.stat-item:nth-child(1) {
  background-color: #9ad0f5;
}
.stat-item:nth-child(2) {
  background-color: #ffb1c1;
}
.stat-item:nth-child(3) {
  background-color: #ffcf9f;
}

.chart-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.mentor-all-course-barChart,
.mentor-all-course-lineChart {
  display: flex;
  align-items: end;
  width: calc(50%);
  height: 100%;
}

.list-course-by-Mentor {
  background-color: var(--lightItem);
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: auto;
  height: 80svh;
  display: flex;
  flex-direction: row;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}

.list-course-nav {
  box-sizing: border-box;
  width: 300px;
  margin: 0 0 0 auto;
  background-color: var(--lightItem);
  /* margin: 1rem; */
  /* list-style: none; */
}

.list-course-nav li {
  background-color: var(--light);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
}
.list-course-nav li.active {
  color: var(--item);
  font-size: 1.5rem;
  background-color: var(--lightItem);
  margin-left: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list-course-nav li:hover {
  transform: translateY(-5%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course-statistic-container {
  width: 0;
  /* width: calc(92svw - 300px); */
  z-index: 10000;
  display: flex;
  flex-direction: row;
  background-color: var(--lightItem);
  margin: 1rem 0;
  overflow: hidden;
}

.course-statistic-container.active {
  width: calc(94svw - 280px);
  border-right: 2px solid var(--darkItem3);
}

.course-statistic-container.active ~ .list-course-by-Mentor {
  background-color: red;
}

.bar-chart-course-content,
.pie-chart-course-content {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.bar-chart-course-content {
  width: 70%;
}

.pie-chart-course-content {
  width: 30%;
}
