@import url("../../global/ColorPalette.css");
.mentor-statistic-container {
  display: flex;
  flex-direction: row;
}

:where(
    .mentor-menu-sideBar,
    .overAll-statistic-container,
    .list-course-by-Mentor
  ) {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mentor-menu-sideBar {
  max-width: 200px;
  flex-shrink: 0;
  /* bottom: 1rem; */
  top: 30%;
  transform: translateY(-50%);
  overflow-y: scroll;
}

.overAll-statistic-container {
  bottom: 1rem;
  left: 15svw;
  background-color: var(--lightItem);
  border-radius: 1rem;
  width: 65svw;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.overAll-statistic-container::before {
  content: "Over all courses statistic";
  position: absolute;
  top: -2rem;
  left: 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--darkItem);
}

.mentor-all-course-barChart,
.mentor-all-course-lineChart {
  width: 50%;
}

.list-course-by-Mentor {
  background-color: var(--lightItem);
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: 19svw;
  height: 45svh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2rem;
}

.list-course-by-Mentor ul {
  margin: 1rem;
}

.list-course-by-Mentor li {
  background-color: var(--light);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.list-course-by-Mentor li:hover {
  transform: translateY(-5%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course-statistic-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
  background-color: var(--lightItem);
  position: fixed;
  /* top: 50%; */
  bottom: 1rem;
  right: 20%;
  width: 65svw;
  height: 70svh;
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  /* opacity: 0.9; */
}

.course-statistic-container.active {
}

.course-statistic-container::after {
  position: absolute;
  content: "X";
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: var(--item);
  background-color: var(--light);
  border-radius: 50%;
  cursor: pointer;
}

.course-statistic-container::before {
  position: absolute;
  content: "TEn bang";
  color: var(--item);
  top: -2.5rem;
  left: 0;
  font-weight: bold;
  font-size: 2rem;
}

.bar-chart-course-content,
.pie-chart-course-content {
  width: 50%;
}

.mentor-manageNav img {
  width: 3rem;
  height: 3rem;
}

.mentor-manageNav li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.mentor-manageNav span {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.5rem;
}
