@import url(../../global/ColorPalette.css);

body {
  background-color: var(--lightItem);
  margin-top: 100px;
}
.banner-1 * {
  border: 1px solid red;
}

.banner-1 img {
  margin: 1rem 2rem 2rem auto;
  width: 55%;
  display: block;
}

.banner-1 {
  display: flex;
  flex-direction: row;
}

.quotes {
  width: 100%;
  /* margin: auto 0px auto auto; */
  margin: auto 0 auto auto;
  max-width: 30vw;
  /* border: 1px solid red; */
}

.quotes h1 {
  color: var(--item);
}

p {
  color: var(--dark);
  font-size: 1.2rem;
}

.regisFW {
  padding: 1rem 0px;
}
.regisFW a {
  background-color: var(--item);
  border: 4px solid var(--light);
  font-size: 2rem;
  text-decoration: none;
  color: var(--lightItem);
  text-align: center;
  padding: 0.4rem 2rem;
  border-radius: 2rem;
  transition: 0.5s all ease;
  box-shadow: rgba(38, 57, 77, 0.4) 0px 20px 30px -10px;
}

.regisFW a:hover {
  border: 4px solid var(--item2);
  transition: 0.5s all ease;
}
