@import url(../../global/ColorPalette.css);

.scroll-snap-container {
  height: 100svh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.home-section {
  scroll-snap-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100svw;
  height: 100vh;

  background-color: transparent;
  z-index: 2;
}

#homebg {
  width: 90%;
  height: 100%;
  position: fixed;

  z-index: -1;
  transition: 1s all ease;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homebg.eikh {
  width: 180%;
  height: 200%;
}

#homebg.quote {
  height: 200%;
  width: 200%;
  top: 120%;
  left: 110%;
}
#homebg.mentor {
  height: 200%;
  width: 200%;
  top: 140%;
  left: -5%;
}
#homebg.courses {
  height: 180%;
  width: 180%;
  top: 20%;
  left: 125%;
}
#homebg.mentor2 {
  height: 180%;
  width: 180%;
  top: 20%;
  left: 40%;
}

#sIcon {
  width: 100px;
}
.quote-content {
  color: var(--lightItem);
  text-align: center;
  text-shadow: 3px 5px 2px #474747;
}

.quote-content span:nth-child(1) {
  font-weight: 800;
  font-size: 8rem;
}
.quote-content span:nth-child(3) {
  font-weight: 600;
  font-size: 4rem;
}

.--home--start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateY(1rem);
  animation: upDownAnimation 3s infinite;
}

.--home--start span {
  font-size: 1.4rem;
  color: var(--lightItem);
}

@keyframes upDownAnimation {
  0%,
  100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(4rem);
  }
}

#quote-section {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  transform: translate(-50%, -5rem);

  background-color: var(--lightItem);
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 1rem;
}

.--home-course-section {
  /* background-color: #d3d1ff; */
  background-color: var(--lightItem);
  width: 50%;
  height: 50%;
  transform: translate(-35%, -2rem);
  border-radius: 2rem;
  padding: 1rem;

  position: relative;
  overflow: hidden;

  border: 8px solid var(--primary);
}

.--home-course-section span:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: var(--darkItem5);
}

.--cate--slider {
  width: fit-content;
  /* overflow-x: scroll; */

  display: flex;
  animation: slideAnimation 120s infinite linear;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

.--cate {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 300px;
  height: 150px;
  flex-shrink: 0;
  margin: 2rem 0.5rem;
  background-color: var(--lightItem);
  border-radius: 2rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkItem5);
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 4px solid var(--light);
}

#--discover {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
#--discover:hover {
  text-decoration: underline;
}
.--q-2 {
  font-size: 2rem;
  transform: translateX(6rem);
}

.--q-2 span:nth-child(1) {
  color: var(--item2);
  font-weight: 700;
  font-size: 3rem;
}

.--hero {
  width: 60vw;
  height: 500px;
  background-color: var(--lightItem);

  transform: translate(-12vw, 0vh);

  position: relative;
  border: 8px solid var(--light);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.--mt--card {
  width: 64px;
  height: 64px;
  margin: 1rem;
}
.--mt--card img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.--mentor-pv {
  position: absolute;
  /* transform: translate(45vw, -40vh); */
  background-color: var(--light);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
