:where(.courseForm, .createCourse-container) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createCourse-container {
}
.courseForm {
  width: 90%;
}

:where(.courseName-head, .createCourse-container) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseName-head {
  flex-direction: row;
  height: max-content;
}

.courseName-head span {
  color: var(--item);
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
  max-height: 4em;
  overflow: auto;
  text-align: center;
}

.courseForm input[type="text"] {
  border: 2px solid var(--item);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.6rem;
}

.courseForm textarea {
  width: 100%;
  min-height: 100px;
  border: 2px solid var(--item);
  border-radius: 0.5rem;
  padding: 0.6rem;
}
.bttnRow {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.courseForm button {
  background-color: var(--lightItem);
  padding: 0.6rem 2rem;
  margin: auto;
  border-radius: 2rem;
  border: 4px solid var(--item);
  color: var(--item);
  font-size: 1.5rem;
  font-weight: 600;
}

.courseForm button:hover {
  color: var(--lightItem);
  background-color: var(--item);
  transition: 0.3s all ease;
}

.courseForm table {
  width: 100%;
  padding: 1rem;
  border-collapse: collapse;
  border-color: transparent;
}

.table-input tr {
  border-bottom: 2px solid var(--item);
}

.table-input td {
  padding: 1rem;
}

.courseForm td:nth-child(1) {
  width: 20%;
}

td:nth-child(2) {
  width: 80%;
}

.cate {
  /* background-color: rosybrown; */
}
