@import url(../../global/ColorPalette.css);

.regis-frag {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--lightItem);
}

.res-bg {
  height: 100svh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
.res-bg img {
  width: 100%;
  filter: saturate(1);
}

.res-bg h1 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 3rem;
  color: var(--item2);
  font-weight: 700;
}

.regis-form {
  width: 60%;
  height: calc(100svh - 100px);
  position: absolute;
  right: 0;
  margin-top: 100px;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

.regis-form form {
  width: 100%;
}

.regis-form table {
  width: 100%;
}

.regis-form tr {
  display: flex;
  flex-direction: row;
}
.regis-form td {
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
}

.regis-frag .regis-form button {
  cursor: pointer;
  color: var(--lightItem);
  font-weight: bold;
  /* width: calc(100% - 8rem); */
  width: calc(100% - 5rem);
  font-size: 1.4rem;
  /* opacity: 0.7; */
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  /* margin: 2rem 4rem; */
  margin: 2rem 1rem;
  background-color: var(--primary);
}

.regis-frag .regis-form button:hover {
  opacity: 1;
  background-color: var(--item2);
}

.regis-frag .sign-in a {
  color: var(--item2);
}
.regis-frag .user-input {
  margin: 12px !important;
}

.regis-frag .user-input input:valid ~ span,
.regis-frag .user-input input:focus ~ span {
  transform: translateX(0px) translateY(-2.5rem);
  font-size: 0.7rem;
  padding: 0 10px;
  /* border-left: 1px solid var(--primary) !important;
  border-right: 1px solid var(--primary) !important; */
  border-radius: 4px;
}

.regis-frag .user-input input:focus ~ span {
  font-size: 1.2rem;
  background-color: var(--light);
}
.regis-frag .user-input.fault input:focus ~ span {
  background-color: var(--item--low);
}

.verifyDia {
  background-color: var(--light);
  width: 50svw;
  border: 8px solid var(--lightItem);
  border-radius: 1rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
  margin-top: calc(50svh - 15svh);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.verifyDia {
  color: var(--item);
}
